.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}
