//color

$color-primary-light: hsl(260, 100%, 95%);
$color-primary: hsl(264, 82%, 80%);
$color-primary-dark: hsl(263, 55%, 52%);

$color-white: hsl(0, 0%, 100%);
$color-grey-1: hsl(214, 17%, 92%);
$color-grey-2: hsl(0, 0%, 81%);
$color-grey-3: hsl(224, 10%, 45%);
$color-grey-4: hsl(217, 19%, 35%);
$color-dark-blue: hsl(219, 29%, 14%);
$color-black: hsl(0, 0%, 7%);

//typography

$font-small: 1.3rem;

$font-family-barlow: "Barlow Semi Condensed", sans-serif;

$font-weight-semi-normal: 500;
$font-weight-semi-bold: 600;

//spacing
