//color

$color-primary-light: hsl(260, 100%, 95%);
$color-primary: hsl(264, 82%, 80%);
$color-primary-dark: hsl(263, 55%, 52%);

$color-white: hsl(0, 0%, 100%);
$color-grey-1: hsl(214, 17%, 92%);
$color-grey-2: hsl(0, 0%, 81%);
$color-grey-3: hsl(224, 10%, 45%);
$color-grey-4: hsl(217, 19%, 35%);
$color-dark-blue: hsl(219, 29%, 14%);
$color-black: hsl(0, 0%, 7%);

//typography

$font-small: 1.4rem;
$font-medium: 1.6rem;
$font-large: 2.2rem;
$font-larger: 4.8rem;

$font-family-barlow: "Barlow Semi Condensed", sans-serif;

$font-weight-medium: 500;
$font-weight-semi-bold: 600;

//spacing

$gap-small: 2.4rem;
$gap-large: 4.8rem;

//breakpoints

$screen-smaller: 28em;
$screen-small: 37.5em;
$screen-medium: 50em;
$screen-large: 56.25em;
$screen-larger: 65em;
$screen-largest: 78em;
